Django==1.4.5
South==0.8.4
-e git://github.com/carljm/django-model-utils.git#egg=django-model-utils
-e git://github.com/seldon/django-taggit.git#egg=django-taggit
-e git://github.com/toastdriven/django-haystack.git#egg=django-haystack
django-extensions==0.9
-e git://github.com/informaetica/django-voting.git#egg=django-voting
#django-registration
django-registration==0.8 # the version on senigallia is 0.8-alpha-1 but it doesn't match, so we try this
-e hg+https://bitbucket.org/ubernostrum/django-profiles#egg=django-profiles
#beautifulsoup
BeautifulSoup==3.2.1
pysolr==2.1.0-beta
poster==0.8.1
lxml==2.3.5
#cssselect #required by lxml
#pil
sorl-thumbnail==11.12
django-social-auth==0.7.28
django-tinymce==1.5.1b2
Pillow==2.3.0
psycopg2==2.5.4
uWSGI==2.0.8
